extends ../layouts/main.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content 
    main
        include ../includes/error-message.pug
        form.product-form(action=`${config.pages.addProduct.route}` method="POST" enctype="multipart/form-data" novalidate)
            input(type="hidden", name="_csrf" value=`${scrfToken}`)     
            div.form-control   
                label(for="title") Title
                input(
                    type="text",
                    name="title",
                    required,
                    value=`${oldInput.title}`,
                    class=`${errors.find(e => e.param === 'title') ? 'invalid' : ''}`
                )#title
            div.form-control   
                label(for="image") Image
                input(
                    type="file",
                    name="image",
                    required,
                    class=`${errors.find(e => e.param === 'image') ? 'invalid' : ''}`
                )#image
            div.form-control   
                label(for="price") Price
                input(
                    type="number",
                    name="price",
                    required,
                    value=`${oldInput.price}`,
                    class=`${errors.find(e => e.param === 'price') ? 'invalid' : ''}`
                )#price  
            div.form-control   
                label(for="description") Description 
                textarea#description(
                    name="description",
                    rows="10",
                    class=`${errors.find(e => e.param === 'description') ? 'invalid' : ''}`) #{oldInput.description}        
            button.btn(type="submit") Add Product  