div.paging
    if (currentPage > 1 && (currentPage - 1 > 1))    
        a(href="?page=1") 1
    if currentPage > 1
        a(href=`?page=${currentPage - 1}`) #{currentPage - 1}    
    a(href=`?page=${currentPage}`, class="active") #{currentPage}    
    if hasNextPage
        a(href=`?page=${currentPage + 1}`) #{currentPage + 1}
    if currentPage < lastPage && (currentPage + 1 < lastPage)
        a(href=`?page=${lastPage}`) #{lastPage}