extends ../layouts/main.pug

block content 
    main
        if orders.length > 0
            ul 
                each order in orders
                    li
                        h1 Order: #{order._id}
                            ul 
                                each product in order.products
                                    li #{product.product.title}(#{product.quantity}) - 
                                        a(href=`${config.routes.ORDERS}/${order._id}`) Invoice
        else 
            h1 No Orders 