extends ../layouts/main.pug


block styles 
    link(rel="stylesheet", href="/css/product-detail.css")

block content 
    main.centered 
        h1 #{product.title}
        hr
        div 
            img(src=`/${product.imageUrl}`, alt=`${product.title}`)
        h2 #{product.price}$    
        p #{product.description}
            if isLoggedIn 
                include ../includes/add-to-card.pug
